{% extends 'item_list.html' %}

{% block form %}
<div class="container">
  <span id="userId" class="hidden">{{ user.id }}</span>
  <div class="text-center">
    <h1>Search for an Item</h1>
    <form id='searchForm'>
      {% csrf_token %}
      <input name='query' type='text' placeholder='Search'/>
      <button id="searchBtn" type="button">
        Search
      </button>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(() => {
    $(document).on("keydown", "form", (event) => {
        return event.key != "Enter";
      });
    $.ajax({
      url: "{% url 'auctionsiteapp:itemsjson' %}",
      success: (data) => {
        $("#itemList").empty();
        for (let i=0; i<data.items.length; i++) {
          const item = data.items[i];
          let highestBid = 0
          for (let i =0; i < data.bids.length; i++) {
            const bid = data.bids[i];
            console.log(`item: ${item.id} bid: ${bid.item_id}`);
            if (item.id === bid.item_id && bid.price > highestBid) {
              highestBid = bid.price
            }
          }
          $("#itemList").append(createListItem(item, highestBid, false));
        }
      }
    });
    $("#searchBtn").click(() => {
      $.ajax({
        url: "{% url 'auctionsiteapp:itemsjson' %}",
        data: $("#searchForm").serializeArray(),
        success: (data) => {
          $("#itemList").empty();
          for (let i=0; i<data.items.length; i++) {
            const item = data.items[i];
            $("#itemList").append(createListItem(item, false));
          }
        }
      });
    });
    $('main').on('click', '.bidButton', (obj) => {
      const btnClicked = obj.currentTarget.id;
      const targetPrice = btnClicked.replace('bidButton', 'price');
      const pk = btnClicked.replace('bidButton', '');
      const userId = $('#userId').text();
      $.ajax({
        type: 'PUT',
        url: "{% url 'auctionsiteapp:editBid' %}",
        headers: { "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val() },
        data: {
          price: $(`#${targetPrice}`).val(),
          item: pk,
          userid: userId
        },
        success: (data) => {
          bid = parseFloat(data.price).toFixed(2);
          $(`#currentbid${pk}`).text(bid);
          if (data.error) {
            $(`#error${pk}`).text(data.error);
          } else {
            $(`#error${pk}`).empty('&nbsp');
          }
        }
      })
    })
  })
</script>
{% endblock %}
