{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}{% endblock %}</h1>
{% block form %}{% endblock %}
<ul id="itemList">
</ul>
<script>
  const createListItem = (data) => {
    const {title} = data;
    const formattedDate = Date(data.endDate);
    return `<div class="col-md-3" id='item-list'>
              <div class="text-center">
                <li class="media" style="maxwidth=50px">
                          <img src="media/${data.picture}" alt="${title}" class="img-thumbnail" style="width:500px"/>
                          <div class="media-body">
                            <h2>${title}</h2>
                            <p>Description: ${data.description}</p>
                            <p>Price: ${data.price}</p>
                            <p>Ends: ${formattedDate}</p>
                          </div>
                        </li>
              </div>`;
  };
</script>
{% block scripts %}{% endblock %}
{% endblock %}
