{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}{% endblock %}</h1>
{% block form %}{% endblock %}
<ul id="itemList">
</ul>
<script>
  const createListItem = (data, expired=false) => {
    const {title, id} = data;
    const formattedDate = Date(data.endDate);
    return `<div class="col-md-3 text-center" id='item-list'>
                <li class="media" style="maxwidth=50px">
                  <img src="media/${data.picture}" alt="${title}" height="200" width="200"/>
                  <h2>${title}</h2>
                  <p>Description: ${data.description}</p>
                  <p>${expired ? 'Winning' : 'Current'} bid: £<span id="currentbid${id}">${data.price}</span></p>
                  <p>Auction end: ${formattedDate}</p>
                  ${!expired ? `<form>
                    {% csrf_token %}
                      <label>Price</label>
                      <input id="price${id}" type="text" name="price" placeholder="0">
                  </form>
                  <button class="bidButton" id="bidButton${id}">Submit Bid</button>
                  <p id='error${id}'>&nbsp</p>` : ''}
                </li>
              </div>`;
  };
</script>
{% block scripts %}{% endblock %}
{% endblock %}
