{% extends 'base.html' %}

{% block content %}
  <div>
    <form method="POST" id="post-form">
      {% csrf_token %}
      <div>
        <label>Email</label>
        <input type="email" id="email" placeholder="Email">
      </div>
      <div>
        <label>Password</label>
        <input type="password" id="password" placeholder="Password">
      </div>
      <button type="submit">Submit</button>
      <a href="/">Back to start</a>
    </form>
  </div>
  <script>
    $(document).on('submit', '#post-form',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'{% url "auctionsiteapp:login" %}',
        data:{
          email:$('#email').val(),
          password:$('#password').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          action: 'post'
        },
        success:function(json){
          document.getElementById("post-form").reset();
        }
      });
    });
  </script>
{% endblock %}
