{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="text-center">
    {% if user.is_authenticated %}
      <h1>{% block title %} Profile{% endblock %}</h1>
      <p>ID: {{ user.id }}</p>
      <p id="showUsername">Username: {{ user }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Date of Birth: {{ user.siteusers.dateOfBirth }}</p>
      <br>
      <form>
        {% csrf_token %}
        Change Username:
        <br>
        <input type="text" placeholder="new username" id="username"/>
      </form>
      <br>
      <button id="changeUsernameBtn">
        Change
      </button>
      <p id='error'></p>
      <br>
      <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% else %}
      Login to view your profile.
    {% endif %}
  </div>
</div>
<script>
$(() => {
  $(document).on("keydown", "form", (event) => {
    return event.key != "Enter";
  });
  $('#changeUsernameBtn').click(() => {
    $.ajax({
      type: 'PUT',
      url: "{% url 'auctionsiteapp:changeUsername' %}",
      headers: {"X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()},
      data: {
        newUsername: $('#username').val()
      },
      success: (data) => {
        $('#showUsername').text("Username: " + data.username);
      },
      error: (data) => {
        $('#error').text('Username is already in use')
      }
    })
  })
})
</script>
{% endblock %}
