{% extends 'base.html' %}

{% block content %}
<h1>Django Image Uploading</h1>

<body>
  <ul>
    {% for item in object_list %}
    <div id='item-list'>
      <h2>{{ item.title }}</h2>
      <img src="{{ item.picture.url }}" alt="{{ item.title }}" height="200" width="200">
      <p>Current bid: £<span id="currentbid">{{item.price}}</span></p>
      <p>Auction end: {{item.endDate}}</p>
    </div>
    <form id="post-form">
      {% csrf_token %}
      <div>
        <label>Price</label>
        <input type="text" id="price" placeholder="price"></textarea>
      </div>
      <button type="submit">Make Bid</button>
      <p id='error'></p>
      <a href="/auction">Back to auction</a>
    </form>
    {% endfor %}
  </ul>
</body>

<script>
  $(document).on('submit', '#post-form', function (e) {
    e.preventDefault();
    var url = window.location.pathname;
    var pk = url.substring(url.lastIndexOf('/') + 1);
    var priceVal = $('#price').val();
    $.ajax({
      type: 'PUT',
      url: `/put3/${pk}`,
      headers: {"X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()},
      data: {
        price: priceVal,
      },
      success: function (data) {
        document.getElementById("post-form").reset();
        bid = parseFloat(data.price).toFixed(2);
        if (bid == null) {
          bid = 0.00;
        }
        $('#currentbid').text(bid);
        if (data.error) {
          $('#error').text(data.error);
        } else {
          $('#error').empty();
        }
      },
    });
  });
</script>

{% endblock %}